.main{
 border-radius: 15px;
 padding: 10px;
 margin: 5px;
 border: none;
 background-color: rgb(244, 242, 242);
}
img{
width: 400px;
 border: 1px; 
 padding: 15px;
margin: 10px;
}
.post{
    margin: 10px;
    border:none;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}
.userid{
    margin-left: 25px;
}
.commentbx{
    margin-left: 35px;
}
input{
    
    border: none;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}
button:hover{
    padding: 10px;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}